<md-content class="md-padding">
    <div layout="row" layout-padding layout-sm="column">
        <md-input-container flex class="show-border">
            <label></label>
            <input type="text" ng-model="place" googleplace>
        </md-input-container>

        &nbsp;
        <md-select ng-model="selectedCuisine" placeholder="Filter by" flex class="show-border">
            <md-option ng-repeat="cuisine in cuisines" value="{{cuisine}}">{{cuisine}}</md-option>
        </md-select>
    </div>
    <md-card>
        <md-card-content>
            <h2 class="md-title">Paracosm</h2>

            <p>
                The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                two most important words in Ernest Greene's musical language: feel it. It's a simple request, as
                well...
            </p>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
            <md-button class="md-raised md-warn">Action 1</md-button>
            <md-button class="md-raised md-accent">Action 2</md-button>
        </div>
    </md-card>
    <md-card>
        <md-card-content>
            <h2 class="md-title">Paracosm</h2>

            <p>
                The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                two most important words in Ernest Greene's musical language: feel it. It's a simple request, as
                well...
            </p>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
            <md-button class="md-raised md-warn">Action 1</md-button>
            <md-button class="md-raised md-accent">Action 2</md-button>
        </div>
    </md-card>
</md-content>
