.md-button.md-icon-button.menuBtn {
    margin-top: 6px;
    margin-right: 0;
}

.muppet-list .md-button {
    color: inherit;
    text-align: left;
    width: 95%;
}
.content-wrapper {
    position: relative;
}

.background-image {
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}