.md-button.md-icon-button.menuBtn {
    margin-top: 6px;
    margin-right: 0;
}

.muppet-list .md-button {
    color: inherit;
    text-align: left;
    width: 95%;
}
.muppet-list .selected {
    color: #03a9f4;
}
.content-wrapper {
    position: relative;
}